
  <div class="row" id="a">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="jumbotron" id="a">
        <form #r=ngForm (ngSubmit)="read(r.value)">

          <div class="form-group">
            <label>Enter Your Old Password</label>
            <input type="text" class="form-control" name="oldpassword" ngModel>
          </div>

          <div class="form-group">
              <label>Enter Your new Password</label>
              <input type="text" class="form-control" name="newpassword" ngModel>
            </div>

            <div class="form-group">
                <label>Confirm Your Password</label>
                <input type="text" class="form-control" name="npassword" ngModel>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>

        </form>
      </div>
    </div>
  </div>
