fieldset{
    padding:5em;
    border:2px solid skyblue;
}

legend{
    text-align: center;
    background-color: skyblue;
    padding:2px;
    
}

#a
{
    height: 30rem;
}

ul
{
    border: 1px solid black;
    background-color: lightblue;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}