<div class="container">

  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>CREATE AND SHARE ONLINE EXAMS EASILY</h1><br/>
      <p>Deliver an exceptional and seamless online exam experience to your learners. </p>
      <p>Over 5 million assessments evaluated.</p>
    </div>
    
  </div><br/>

  <div class="row">
    <div class="col-sm-4">
  
            <img src="assets/ab1.png"><br/><br/>
          
            <h3>CLEAN AND SIMPLE UI</h3>
            <p>With our clean and no non-sense UI, </p>
            <p>you can create and share your first test </p>
            <p>in few minutes.</p>
          </div>
      

          <div class="col-sm-4">
  
              <img src="assets/ab2.png"><br/><br/>
            
              <h3>USER ENGAGEMENT</h3>
              <p>Discussion forum integrated with online  </p>
              <p>exams and e-notes to engage the users  </p>
              <p>with the coaching academies.</p>
            </div>
            

            <div class="col-sm-4">
  
                <img src="assets/ab4.png"><br/><br/>
              
                <h3>FREE TECHNICAL SUPPORT</h3>
                <p>Testpress provides free technical  </p>
                <p>support to learners of your coaching  </p>
                <p>academy.s</p>
              </div>


        </div>




</div>