<!--exam Courses-->
<br><br>
<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
           <div class="card-deck">
              <div class="card border-0">
                  <div class="card-body">                    
                         <a href="#" data-toggle="collapse" data-target="#c"><img src="assets/java.png" alt=""></a>
                  </div>
                </div>
      
                <div class="card border-0">
                  <div class="card-body"> 
                      <a data-toggle="collapse" data-target="#java"><img src="assets/c.jpeg" alt=""> </a>
                                               
                  </div>
                </div>
      
                <div class="card border-0">
                  <div class="card-body">  
                      <a data-toggle="collapse" data-target="#angular"> <img src="assets/angular.png" alt=""></a>                                          
                  </div>
                </div>
  
               
            </div>
           </div>
    
    </div>
  


<!--levels Model-->

<div id="parent">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10 mt-1">
    
               <div class="card-deck">
                  <div class="card border-0">
                      <div class="card-body">                    
                          <div class="btn-group-vertical collapse ml-5" id="c" data-parent="#parent">
                              <button type="button" class="btn btn-primary"  (click)="read()">Begginer Level</button>
                              <button type="button" class="btn btn-primary" (click)="read2()">Intermediate Level</button>
                              <button type="button" class="btn btn-primary" (click)="read3()">Expert Level</button>
                            </div>
                      </div>
                    </div>
          
                    <div class="card border-0">
                      <div class="card-body"> 
                          <div class="btn-group-vertical collapse ml-5" id="java" data-parent="#parent">
                              <button type="button" class="btn btn-primary" (click)="read4()">Begginer Level</button>
                              <button type="button" class="btn btn-primary" (click)="read5()">Intermediate Level</button>
                              <button type="button" class="btn btn-primary" (click)="read6()">Expert Level</button>
                            </div>
                                                   
                      </div>
                    </div>
          
                    <div class="card border-0">
                      <div class="card-body">  
                          <div class="btn-group-vertical collapse ml-5" id="angular" data-parent="#parent">
                              <button type="button" class="btn btn-primary" (click)="read7()">Begginer Level</button>
                              <button type="button" class="btn btn-primary" (click)="read8()">Intermediate Level</button>
                              <button type="button" class="btn btn-primary" (click)="read()">Expert Level</button>
                          </div>
                         
                      </div>
                    </div>
                </div>
               </div>
            <div clas="col-sm-1"></div>  
        </div>
      </div>
      
    </div>
              
    </div>
    <div class="container">
      
      
    </div>
     
    
    
  
  
    
  
