<br><br>
<div class="container" >
  <u><h1 id="b">Merit Students List</h1></u>
  <table class="table table-bordered">
      <thead class="thead-info">
        <tr class="text-success">
          <th>Sno</th>
          <th>Name</th>
          <th>Exam</th>
          <th>Marks</th>
          <th>Rank</th>
        </tr>
      </thead>
    </table>
    <br><br>

    <u><h1 class="">Average Students List</h1></u>
  <table class="table table-bordered">
      <thead class="thead-info">
        <tr class="text-success">
          <th>Sno</th>
          <th>Name</th>
          <th>Exam</th>
          <th>Marks</th>
          <th>Rank</th>
        </tr>
      </thead>
    </table>
    <br><br>

    <u><h1 id="b">Failure Students List</h1></u>
  <table class="table table-bordered">
      <thead class="thead-info">
        <tr class="text-success">
          <th>Sno</th>
          <th>Name</th>
          <th>Exam</th>
          <th>Marks</th>
          <th>Rank</th>
        </tr>
      </thead>
    </table>
    <br><br>

  </div>
