
<div class="container-fluied">
  

  <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="text-success">Welcome To User</h1>
      </div>
    </div>
      

     <div class="row">
    <div class="col-sm-12">

<nav class="nav navbar-expand-sm fixed-top nav-tabs" id="b">
    <a href=# class="nav-brand pl-5"><img src="assets/n.png" style="height:10rem" style="width:1.5rem"></a>
  <ul class="navbar-nav ml-auto">
      <li class="nav-item pl-5"><a routerLink ="userdashbord" class="nav-link text-dark">User Home</a></li>
    <li class="nav-item pl-5"><a routerLink ="profile" class="nav-link text-dark">Profile</a></li>
    <li class="nav-item pl-5"><a routerLink="exams" class="nav-link text-dark">Exams</a></li>
    <li class="nav-item pl-5"><a routerLink="changepassword" class="nav-link text-dark">changepassword</a></li>
    <li class="nav-item pl-5"><button type="button" class="btn btn-danger"  (click)="logout()">Logout</button></li>
  </ul>
  
</nav>

</div>
</div>


     
      
    

 
  </div>
  <router-outlet></router-outlet>

   
  

















