<div class="container-fluid" id="cu">
    <div class="row">
      <div class="col-sm-7"></div>
      <div class="col-sm-5">
          <u><h1 class="text-success"> Contact Us</h1></u> <br>
          
  
      <div class="h3" id="cuc">
          Call:<a href="" id="cal"> 8978747700</a> <br><br>
          Call:<a href="" id="cal"> 8978767700</a> <br><br>
      MessageUs:<a href=""  id="cal">WhatsApp</a> <br><br>
    MailUs:<a href=""  id="cal"> hr@secondcampus.in</a>
    </div> 
      </div>
    </div>
  </div> <br>
      <div class="h3 text-center">
        Please fill below details, our Admin will get back to you soon...
      </div> <br>

    <div class="row">
      <div class="col-sm-6">
        <form>
        <input type="text" class="form-control">NAME <br> <br>
        <input type="text" class="form-control">EMAIL <br> <br>
        <input type="number" class="form-control">PHONE <br> <br>
        <input type="text" class="form-control">GOOD TIME TO CONTACT <br><br>
        <button type="submit" class="btn btn-success">SUBMIT</button>
      
      </form>
  
      </div>

      <div class="col-sm-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15220.873504558525!2d78.407475!3d17.497086!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe35f975779b96d43!2sSecond+Campus+Angular+JS+Training+%26+MEAN+Stack+Training+Institute+In+Hyderabad!5e0!3m2!1sen!2sin!4v1554809188899!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  
 













